{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
