.pitch-container {
  position: relative;
  width: 100%;
  padding-top: 66.67%; /* 3:2 aspect ratio */
  background-color: #3c8f40;
  border-radius: 4px;
  overflow: hidden;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white;
}

/* Field Markings */
.center-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  border: 2px solid white;
  border-radius: 50%;
}

.center-spot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1%;
  height: 1.5%;
  background-color: white;
  border-radius: 50%;
}

.half-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
}

.penalty-area {
  position: absolute;
  top: 20%;
  height: 60%;
  width: 16%;
  border: 2px solid white;
}

.penalty-area.left {
  left: 0;
}

.penalty-area.right {
  right: 0;
}

.goal-area {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 6%;
  border: 2px solid white;
}

.goal-area.left {
  left: 0;
}

.goal-area.right {
  right: 0;
}

.penalty-spot {
  position: absolute;
  top: 50%;
  width: 1%;
  height: 1.5%;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
}

.penalty-spot.left {
  left: 12%;
}

.penalty-spot.right {
  right: 12%;
}

.goal {
  position: absolute;
  top: 42.5%;
  height: 15%;
  width: 2%;
  border: 2px solid white;
}

.goal.left {
  left: -2px;
}

.goal.right {
  right: -2px;
}

.corner-arc {
  position: absolute;
  width: 4%;
  height: 6%;
  border: 2px solid white;
}

.corner-arc.top-left {
  left: 0;
  top: 0;
  border-radius: 0 0 100% 0;
  border-left: none;
  border-top: none;
}

.corner-arc.top-right {
  right: 0;
  top: 0;
  border-radius: 0 0 0 100%;
  border-right: none;
  border-top: none;
}

.corner-arc.bottom-left {
  left: 0;
  bottom: 0;
  border-radius: 0 100% 0 0;
  border-left: none;
  border-bottom: none;
}

.corner-arc.bottom-right {
  right: 0;
  bottom: 0;
  border-radius: 100% 0 0 0;
  border-right: none;
  border-bottom: none;
}
